gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
# Ignore Flutter Web Build artifacts in web directory
/web/main.dart.js
/web/flutter_service_worker.js
/web/flutter_bootstrap.js
/web/version.json
/web/.last_build_id
